/* 

Layout.css:

        Content:

        Introduction: The classes what declared here can be called on any div container, to set the correct width.
         
        1. Settings for the correct width
            1.1  90% width. -- [1.1]
            1.2. 75% width. -- [1.2]
            1.3. 25% width. -- [1.3] 
        
        
        2. Centerize
            2.1. Set the items horisontally center  -- [2.1]  
            
        3. Float
            5.1. Float the items right or left  -- [3.1]  
            5.2 Helper settings for the floating -- [3.2]
               
    */ 




   /*  1. Settings for the correct width */ 

    .layout__item--width--90-percent { width: 90%; } /* [1.1] */
    .layout__item--width--75-percent { width: 75%; } /* [1.2] */
    .layout__item--width--25-percent { width: 25%; } /* [1.3] */



    /* 2. Centerize */

    .layout__item--centerized {
        margin-left: auto; 
        margin-right: auto; 
       }


  



    /* 3. Float */


    .layout__item--floated--left { float: left; } /*[3.1] */
    .layout__item--floated--right { float: right; }

    .clearfix::after{ /*[3.2]*/
        content: "";
        display: table;
        clear: both;
    }  